body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --primary-color: #1aac83;
  --background-color: #f0f4f8;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}





.container {
  padding: 2rem 4rem;
  gap: 0rem;
  
}

.container h1 {
  color: var(--primary-color);
  margin-bottom: 1rem;
  text-decoration: none;
}

/* Home Page Styles */

.home {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 2rem 4rem;
  background: var(--background-color);
  height: 100;
}

/* Room Container Details */

.room-details {
  background-color: #ffff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  color: #333;
}

.room-details h4{
  color: var(--primary-color);
  font-size: 20px;
}

/* Booking details niggaaaa */
.booking-details {
  background-color: #f0f4f8;
  padding: 1rem 3rem;
  border-radius: 8px;
  height: 10rem;
  color: #333;
  justify-content: center;
  margin-top: 1.2rem ;
  font-size: 12px;
}

.bookings{
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  height: 15rem;
  background-color: #ffff;
  border-radius: 1rem;
  padding: 0 2rem;
}

.book-room{
  padding: 2rem 4rem;
  background: var(--background-color);
}

/* Booking Form Styles */
.create {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  padding: 2rem 0;
  gap: 1rem;
  font-size: 15px;
}

.create button{
  background-color: var(--primary-color);
  color: #fff;
  height: 2rem;
  width: 6rem;
  border: none;
  border-radius: .2rem;
}